.email-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .email-item:hover {
    background-color: var(--grey);
  }
  
  .email-item.priority {
    border-left: 5px solid var(--light-purple);
    background-color: var(--light-purple);
  }
  
  .email-item:not(.priority) {
    border-left: 5px solid var(--emerald-green);
    background-color: var(--emerald-green);
    color: white;
  }
  
  .email-item.opened,
  .email-item:active,
  .email-item.clicked {
    background-color: var(--clicked-grey);
    border-left: 5px solid var(--clicked-grey);
    color: var(--text-color);
  }
  
  .email-item h3 {
    margin: 0 0 10px 0;
    color: inherit;
  }
  
  .email-item p {
    margin: 0 0 10px 0;
    color: inherit;
  }
  
  .email-category {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
  }
  
  .priority-tag {
    display: inline-block;
    background-color: var(--light-purple);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
    margin-left: 10px;
  }
  
  .action-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.3s ease;
    padding: 5px;
    border-radius: 50%;
  }
  
  .action-btn:hover {
    color: var(--emerald-green);
    background-color: rgba(80, 200, 120, 0.1);
  }
  
  .email-details {
    display: flex;
    align-items: center;
    margin: 2px;
    font-size: 0.8rem;
    color: #666;
  }
  
  .email-date {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    padding: 5px 8px;
    border-radius: 12px;
    font-size: 0.6rem;
    margin: 0 10px;
  }