.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--emerald-green);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    background: url('../public/Logo.png') no-repeat;
    background-size: contain;
    width: 300px; 
    height: 40px; 
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info span {
    margin-right: 15px;
  }
  
  .logout-btn {
    background-color: var(--emerald-green);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #3da562;
  }